<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mBlynk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9843B7A1D05192E00035ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9843B8E1D05192F00035ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9843B991D05192F00035ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
